{% extends 'base.html.twig' %}

{% block title %}Club{% endblock %}

{% block body %}
    <h1>Club</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ club.id }}</td>
            </tr>
            <tr>
                <th>Esmk</th>
                <td>{{ club.esmk }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ club.age }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_club_index') }}">back to list</a>

    <a href="{{ path('app_club_edit', {'id': club.id}) }}">edit</a>

    {{ include('club/_delete_form.html.twig') }}
{% endblock %}
